{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'survey/bootstrap-4.1.1/dist/css/bootstrap.min.css' %}">

</head>

<body>

<div class="py-3">
{% include "survey/header.html" %}

        <div class="container center mt-5">
            {% block main_content %}
            {% endblock %}
        </div>

</div>
{% include "survey/footer.html" %}

</body>

</html>